body,
h1,
p {
  margin: 0;
}

body {
  position: relative;
}

body::after {
  background: linear-gradient(to bottom, hsla(280, 50%, 30%, .3), hsla(280, 50%, 30%, .3) 1px, transparent 1px, transparent);
  background-size: 100% 24px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

p {
  font-size: 1em;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2em;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}